.pokedex-link {
  background: $color-white;
  border-radius: 1pc;
  color: $color-stat;
  font-size: 62.5%;
  font-weight: 400;
  height: 1pc;
  line-height: 140%;
  margin: .25em 0 0 .75em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 1pc;
}
