.pokemon-type__title {
  margin-top: $space-xxl;
  margin-bottom: $space-xs * 2.5;
}

.type-weakness-list {
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin: 0;
  padding: 0;
  list-style: none;

  .type-weakness-item {
    width: 32%;
  }
}
