.cmp-pokemonDetails {
    display: flex;
    width: 200px;
    flex-wrap: wrap;

    .height, .category, .weight, .ability, .gender {
        width: 100px;
        h3 {
            margin: 0;
        }
    }

    .gender .gender-types{
        display: flex;
        justify-content: space-between;
        width: 40px;
    }
}
