<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" />
<div data-sly-use.model="com.aem.pokebootcamp.core.models.PokemonStats">
    <div class="pokemon-stats">
        <h3>Stats</h3>
        <div class="stats-chart">
          <div class="stat-column" style="--value: ${model.hitPoints @ context='styleToken'}">
            <div class="stat-bar"></div>
            <span>HP</span>
          </div>
          <div class="stat-column" style="--value: ${model.attack @ context='styleToken'}">
            <div class="stat-bar"></div>
            <span>Attack</span>
          </div>
          <div class="stat-column" style="--value: ${model.defense @ context='styleToken'}">
            <div class="stat-bar"></div>
            <span>Defense</span>
          </div>
          <div class="stat-column" style="--value: ${model.specialAttack @ context='styleToken'}">
            <div class="stat-bar"></div>
            <span>Special Attack</span>
          </div>
          <div class="stat-column" style="--value: ${model.specialDefense @ context='styleToken'}">
            <div class="stat-bar"></div>
            <span>Special Defense</span>
          </div>
          <div class="stat-column" style="--value: ${model.speed @ context='styleToken'}">
            <div class="stat-bar"></div>
            <span>Speed</span>
          </div>
        </div>
      </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!notEmpy && wcmmode.edit}"></sly>