<sly data-sly-use.pokemonStats="com.aem.pokebootcamp.core.models.PokemonStatsModel"
     data-sly-use.statsTemplate="stat.html">
    <sly data-sly-set.statDefined="${pokemonStats.healthPoints || pokemonStats.attack || pokemonStats.defense || pokemonStats.specialAttack || pokemonStats.specialDefense || pokemonStats.speed}"></sly>
    <sly data-sly-test.isEdit="${wcmmode.edit && !statDefined}">
        <sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
            <sly data-sly-call="${templates.placeholder @ isEmpty=isEdit}"></sly>
        </sly>
    </sly>
    <sly data-sly-test="${statDefined}">
        <div class="pokemon-stats-info active">
            <h3>${'Stats' @i18n}</h3>
            <ul>
                <sly data-sly-call="${statsTemplate.stat @ statValue=pokemonStats.healthPoints, statLabel='HP'}"/>
                <sly data-sly-call="${statsTemplate.stat @ statValue=pokemonStats.attack, statLabel='Attack'}"/>
                <sly data-sly-call="${statsTemplate.stat @ statValue=pokemonStats.defense, statLabel='Defense'}"/>
                <sly data-sly-call="${statsTemplate.stat @ statValue=pokemonStats.specialAttack, statLabel='Special Attack'}"/>
                <sly data-sly-call="${statsTemplate.stat @ statValue=pokemonStats.specialDefense, statLabel='Special Defense'}"/>
                <sly data-sly-call="${statsTemplate.stat @ statValue=pokemonStats.speed, statLabel='Speed'}"/>
            </ul>
        </div>
    </sly>
</sly>
