<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" />
<div data-sly-use.model="com.aem.pokebootcamp.core.models.PokemonCards">
    <ul data-sly-test.hasContent="${model.pokemonCards}" data-sly-list.item="${model.pokemonCards}"
        class="cmp-pokemon-cards">
        <li class="cmp-pokemon-card">
            <div class="cmp-pokemon-card__img">
                <img src="${item.fileReference}">
            </div>
            <div class="cmp-pokemon-card__info">
                <p class="cmp-pokemon-card__info-name">${item.name}</p>
                <p>${item.pokemonTypes}</p>
            </div>
        </li>
    </ul>
    <div data-sly-test="${!hasContent && !wcmmode.edit}" class="cmp-pokemon-not-found">
        <p>No Pokemon Found</p>
    </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent && wcmmode.edit}"></sly>